<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>images/collection/arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,255},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>images/collection/background.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{0,480},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>images/collection/background2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>images/collection/ball_owning.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,226},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>images/collection/decoration.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,0},{219,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,226}}</string>
                <key>sourceSize</key>
                <string>{219,226}</string>
            </dict>
            <key>images/collection/pokemon_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,960},{284,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,250}}</string>
                <key>sourceSize</key>
                <string>{284,250}</string>
            </dict>
            <key>images/collection/scroll.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,960},{689,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{689,380}}</string>
                <key>sourceSize</key>
                <string>{689,380}</string>
            </dict>
            <key>images/collection/selection_back_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,226},{207,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,29}}</string>
                <key>sourceSize</key>
                <string>{207,29}</string>
            </dict>
            <key>images/collection/selection_border.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,295},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>images/collection/selection_border_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,255},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>images/collection/shallow_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,242},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>images/collection/title_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,255},{152,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,65}}</string>
                <key>sourceSize</key>
                <string>{152,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>collection.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fda10487be33c4e7db8867b2c48e6cf:1/1$</string>
            <key>textureFileName</key>
            <string>collection.pvr.ccz</string>
        </dict>
    </dict>
</plist>
