<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>images/common/arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,206},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>images/common/black_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,274},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>images/common/border_aqua.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,104},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>images/common/border_aqua_transparent.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,206},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>images/common/border_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>images/common/border_gray_transparent.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,350},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>images/common/border_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,248},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>images/common/border_orange_transparent.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,104},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>images/common/border_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>images/common/border_red_transparent.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,403},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>images/common/border_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,301},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>images/common/border_yellow_transparent.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,350},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>images/common/btn_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,206},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>images/common/common_scale9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{156,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,116}}</string>
                <key>sourceSize</key>
                <string>{156,116}</string>
            </dict>
            <key>images/common/menu_cursor.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,248},{15,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,17}}</string>
                <key>sourceSize</key>
                <string>{15,17}</string>
            </dict>
            <key>images/common/selection_border.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,297}}</string>
                <key>sourceSize</key>
                <string>{236,297}</string>
            </dict>
            <key>images/common/white_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,267},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88ff8cb284900e16d85d0c29a80718d4:1/1$</string>
            <key>textureFileName</key>
            <string>common.pvr.ccz</string>
        </dict>
    </dict>
</plist>
