<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>images/dialog/dialog_indice.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{20,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,8}}</string>
                <key>sourceSize</key>
                <string>{20,8}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dialog.pvr.ccz</string>
            <key>size</key>
            <string>{16,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a0a3d9668f83250fb25e7d59886477c:1/1$</string>
            <key>textureFileName</key>
            <string>dialog.pvr.ccz</string>
        </dict>
    </dict>
</plist>
