<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>images/pokemon/back_aqua.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,143},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>images/pokemon/back_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,143},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>images/pokemon/back_rose.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,90},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>images/pokemon/back_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,90},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>images/pokemon/background.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,528}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,528}}</string>
                <key>sourceSize</key>
                <string>{800,528}</string>
            </dict>
            <key>images/pokemon/hp_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,39},{139,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,13}}</string>
                <key>sourceSize</key>
                <string>{139,13}</string>
            </dict>
            <key>images/pokemon/hp_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,78},{136,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,10}}</string>
                <key>sourceSize</key>
                <string>{136,10}</string>
            </dict>
            <key>images/pokemon/hp_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,66},{136,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,10}}</string>
                <key>sourceSize</key>
                <string>{136,10}</string>
            </dict>
            <key>images/pokemon/hp_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,54},{136,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,10}}</string>
                <key>sourceSize</key>
                <string>{136,10}</string>
            </dict>
            <key>images/pokemon/icon_female.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,151},{8,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,13}}</string>
                <key>sourceSize</key>
                <string>{8,13}</string>
            </dict>
            <key>images/pokemon/icon_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,239},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>images/pokemon/icon_male.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,135},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{10,14}</string>
            </dict>
            <key>images/pokemon/icon_prop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,302},{50,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,25}}</string>
                <key>sourceSize</key>
                <string>{50,25}</string>
            </dict>
            <key>images/pokemon/icon_prop_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,334},{50,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,25}}</string>
                <key>sourceSize</key>
                <string>{50,25}</string>
            </dict>
            <key>images/pokemon/icon_prop_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,307},{50,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,25}}</string>
                <key>sourceSize</key>
                <string>{50,25}</string>
            </dict>
            <key>images/pokemon/icon_prop_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,291},{50,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,25}}</string>
                <key>sourceSize</key>
                <string>{50,25}</string>
            </dict>
            <key>images/pokemon/icon_prop_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,278},{50,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,25}}</string>
                <key>sourceSize</key>
                <string>{50,25}</string>
            </dict>
            <key>images/pokemon/icon_prop_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,275},{50,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,25}}</string>
                <key>sourceSize</key>
                <string>{50,25}</string>
            </dict>
            <key>images/pokemon/icon_prop_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,275},{50,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,25}}</string>
                <key>sourceSize</key>
                <string>{50,25}</string>
            </dict>
            <key>images/pokemon/icon_prop_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,248},{50,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,25}}</string>
                <key>sourceSize</key>
                <string>{50,25}</string>
            </dict>
            <key>images/pokemon/icon_prop_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,248},{50,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,25}}</string>
                <key>sourceSize</key>
                <string>{50,25}</string>
            </dict>
            <key>images/pokemon/icon_prop_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,280},{50,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,25}}</string>
                <key>sourceSize</key>
                <string>{50,25}</string>
            </dict>
            <key>images/pokemon/icon_prop_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,253},{50,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,25}}</string>
                <key>sourceSize</key>
                <string>{50,25}</string>
            </dict>
            <key>images/pokemon/icon_prop_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,239},{50,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,25}}</string>
                <key>sourceSize</key>
                <string>{50,25}</string>
            </dict>
            <key>images/pokemon/icon_prop_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,226},{50,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,25}}</string>
                <key>sourceSize</key>
                <string>{50,25}</string>
            </dict>
            <key>images/pokemon/icon_prop_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,187},{50,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,25}}</string>
                <key>sourceSize</key>
                <string>{50,25}</string>
            </dict>
            <key>images/pokemon/icon_prop_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,174},{50,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,25}}</string>
                <key>sourceSize</key>
                <string>{50,25}</string>
            </dict>
            <key>images/pokemon/icon_prop_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,135},{50,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,25}}</string>
                <key>sourceSize</key>
                <string>{50,25}</string>
            </dict>
            <key>images/pokemon/icon_prop_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,122},{50,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,25}}</string>
                <key>sourceSize</key>
                <string>{50,25}</string>
            </dict>
            <key>images/pokemon/icon_state_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,343},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>images/pokemon/icon_state_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,330},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>images/pokemon/icon_state_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,329},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>images/pokemon/icon_state_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,329},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>images/pokemon/icon_state_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,329},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>images/pokemon/icon_state_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,302},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>images/pokemon/pokemon_ball_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,103},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>images/pokemon/pokemon_ball_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,39},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>images/pokemon/pokemon_ball_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,90},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>images/pokemon/pokemon_ball_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,71},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>images/pokemon/pokemon_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,2},{249,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,46}}</string>
                <key>sourceSize</key>
                <string>{249,46}</string>
            </dict>
            <key>images/pokemon/polygon6withline.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{280,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,324}}</string>
                <key>sourceSize</key>
                <string>{280,324}</string>
            </dict>
            <key>images/pokemon/select_border.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,196},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>images/pokemon/select_border2.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,196},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>images/pokemon/tab_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{170,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,35}}</string>
                <key>sourceSize</key>
                <string>{170,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pokemon.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2149912ed9441935694e90a5051bb40b:1/1$</string>
            <key>textureFileName</key>
            <string>pokemon.pvr.ccz</string>
        </dict>
    </dict>
</plist>
