<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>border1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,139}}</string>
                <key>sourceSize</key>
                <string>{244,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.pvr.ccz</string>
            <key>size</key>
            <string>{143,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e68b05be385a8e55cbc9d77608a89150:392d75fb7d6637ba12e15a371c83a727:fe85396e058c1bf14e40681d74649805$</string>
            <key>textureFileName</key>
            <string>common.pvr.ccz</string>
        </dict>
    </dict>
</plist>
