<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>images/characters/champion1_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,138},{24,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{24,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>images/characters/champion1_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{26,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>images/characters/champion1_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{26,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>images/characters/champion1_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,172},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>images/characters/champion1_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,104},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>images/characters/champion1_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,70},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>images/characters/champion1_right1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,104},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>images/characters/champion1_right2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,206},{22,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>images/characters/champion1_right3.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,138},{22,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>images/characters/champion1_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{26,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>images/characters/champion1_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{26,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>images/characters/champion1_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{26,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>images/characters/hero_mum_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{26,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>images/characters/hero_mum_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,172},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>images/characters/hero_mum_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,104},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>images/characters/hero_mum_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,70},{20,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>images/characters/hero_mum_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,206},{20,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>images/characters/hero_mum_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,138},{20,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>images/characters/hero_mum_right1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,172},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>images/characters/hero_mum_right2.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,36},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>images/characters/hero_mum_right3.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>images/characters/hero_mum_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{26,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>images/characters/hero_mum_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,70},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>images/characters/hero_mum_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,206},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>images/characters/player_female_walk_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,104},{24,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>images/characters/player_female_walk_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,70},{24,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>images/characters/player_female_walk_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,28},{24,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>images/characters/player_female_walk_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,28},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>images/characters/player_female_walk_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,138},{22,32}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>images/characters/player_female_walk_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,28},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>images/characters/player_female_walk_right1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,28},{24,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>images/characters/player_female_walk_right2.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,172},{22,32}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>images/characters/player_female_walk_right3.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,28},{24,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>images/characters/player_female_walk_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,28},{24,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>images/characters/player_female_walk_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,138},{23,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{23,32}}</string>
                <key>sourceSize</key>
                <string>{29,32}</string>
            </dict>
            <key>images/characters/player_female_walk_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{24,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>images/characters/player_male_walk_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,104},{22,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>images/characters/player_male_walk_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,70},{22,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>images/characters/player_male_walk_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,206},{22,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>images/characters/player_male_walk_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>images/characters/player_male_walk_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,138},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>images/characters/player_male_walk_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{24,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>images/characters/player_male_walk_right1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{24,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>images/characters/player_male_walk_right2.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,172},{22,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>images/characters/player_male_walk_right3.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>images/characters/player_male_walk_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,2},{24,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>images/characters/player_male_walk_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,206},{22,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>images/characters/player_male_walk_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,172},{22,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>characters.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee8c9bc0fe24ddd5daaf0d84b1c3f50a:1/1$</string>
            <key>textureFileName</key>
            <string>characters.pvr.ccz</string>
        </dict>
    </dict>
</plist>
