<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>images/characters/player_male_walk_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,186},{32,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{32,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>images/characters/player_male_walk_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{34,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>images/characters/player_male_walk_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{34,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>images/characters/player_male_walk_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{36,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>images/characters/player_male_walk_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,148},{34,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>images/characters/player_male_walk_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{34,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>images/characters/player_male_walk_right1.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{36,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>images/characters/player_male_walk_right2.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,112},{34,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>images/characters/player_male_walk_right3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{34,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>images/characters/player_male_walk_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>images/characters/player_male_walk_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,76},{34,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>images/characters/player_male_walk_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,40},{34,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>characters.pvr.ccz</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30a85bc65fdd295daabedc8cd3c6e226:1/1$</string>
            <key>textureFileName</key>
            <string>characters.pvr.ccz</string>
        </dict>
    </dict>
</plist>
